/*
Theme Name:       JobX - Bootstrap HTML5 Job Portal Template
Author:           UIdeck
Author URI:       http://uideck.com
Text Domain:      UIdeck
Domain Path:      /languages/
*/
/*TABLE OF CONTENT */
/* CORE: */
/* ____Bootstrap */
/* ____Color */
/* ____Form */
/* ____Logo */
/* ____Icon */
/* ____Button */
/* ____Background */
/* ____Typography */
/* ____Nav */
/* ____Header */
/* ____Footer */
/* MODULES: */
/* ____Categories */
/* ____Featured Jobs */
/* ____Pricing-table */
/* ____Blog */
/* ____Single Blog */
/* ____Search */
/* ____Pagination */
/* ____Testimonial */
/* ==========================================================================
   IMPORT GOOGLE FONTS
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins:500,700");
/* ==========================================================================
   GENERAL
   ========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

p {
  font-size: 14px;
  color: #9a9a9a;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
}

a:hover, a:focus {
  color: #00BCD4;
}

a {
  color: #00BCD4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #191c1e;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #fff;
}

.bg-gray {
  background: #f9fcff;
}

.bg-cyan {
  background: #f2f7fb;
}

/* ==========================================================================
   Section Title
   ========================================================================== */
.section {
  padding: 60px 0 60px;
}

.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}

.section-header .section-title {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #333333;
  position: relative;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff !important;
}

.btn-common {
  background: #fed136;
  position: relative;
  z-index: 1;
}

.btn-common:hover {
  color: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-common::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  transform: scale(0, 0);
  z-index: -1;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.btn-common:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  transform: scale(1, 1);
}

.btn-border {
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  border-color: #00BCD4;
  color: #00BCD4;
}

.btn-border:hover {
  box-shadow: 0px 4px 10px rgba(96, 94, 94, 0.2);
}

.btn-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.btn-border:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(0.5, 0.5);
}

.btn-border-filled {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #fff;
  color: #00BCD4;
}

.btn-border-filled:hover {
  color: #fff;
  background-color: transparent;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  color: #fff;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 14px;
}

.btn-rm i {
  vertical-align: middle;
}

button:focus {
  outline: none !important;
}

.btn-border-fill {
  background: #fff;
  border-color: #fff;
  color: #00BCD4;
}

.btn-subtitle {
  color: #191c1e;
  background: #dbecff;
  text-align: center;
  border-radius: 4px;
  padding: 6px 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
}

.clear {
  clear: both;
}

.mt {
  margin-top: 80px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.padding-0 {
  padding: 0;
}

.pb-45 {
  padding-bottom: 45px;
}

.page-header {
  padding: 115px 0px 50px;
  position: relative;
  background: url(../img/banner.jpg);
}

.page-header .inner-header {
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 0;
}

.page-header .inner-header h3 {
  color: #333;
  font-weight: 700;
  font-size: 30px;
}

.page-header .page-breacrumbs {
  margin-top: 23px;
  display: inline-block;
  float: right;
}

.page-header .breadcrumbs {
  margin: 0;
}

.page-header .breadcrumbs li {
  position: relative;
  padding-left: 30px;
  margin: 0;
  float: left;
}

.page-header .breadcrumbs li a {
  float: left;
  width: 100%;
  font-size: 14px;
  color: #333;
}

.page-header .breadcrumbs > li:before {
  position: absolute;
  left: 9px;
  top: 11px;
  width: 11px;
  height: 1px;
  background: #888888;
  content: "";
}

.page-header .breadcrumbs li:first-child:before {
  display: none;
}

.page-header .breadcrumb-wrapper .product-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
  color: #333;
}

.page-header .breadcrumb-wrapper .img-wrapper {
  float: left;
  position: relative;
  width: 70px;
  text-align: center;
  display: inline-block;
  height: 70px;
  line-height: 70px;
}

.page-header .breadcrumb-wrapper .content {
  padding-left: 110px;
}

.page-header .breadcrumb-wrapper .content .brand {
  font-size: 14px;
  margin-bottom: 10px;
  color: #666666;
}

.page-header .breadcrumb-wrapper .content .tags {
  margin-bottom: 10px;
}

.page-header .breadcrumb-wrapper .content .tags span {
  margin-right: 10px;
}

.page-header .breadcrumb-wrapper .content .tags span i {
  margin-right: 5px;
  color: #00BCD4;
}

.page-header .month-price {
background:#fed136; 
  padding: 12px 30px;
  float: right;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}

.page-header .month-price span {
  font-size: 20px;
}

.page-header .month-price .price {
  font-size: 26px;
}

/* ==========================================================================
   Social Iocns
   ========================================================================== */
.social-icons {
  margin-bottom: 20px;
}

.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons ul li {
  display: inline;
}

.social-icons ul li a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 254, 254, 0.07);
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
}

.social-icons ul li a:hover {
  color: #fff;
}

.facebook a {
  color: #4867AA;
}

.facebook a:hover {
  background: #4867AA;
}

.twitter a {
  color: #1DA1F2;
}

.twitter a:hover {
  background: #1DA1F2;
}

.google-plus a {
  color: #DD4D42;
}

.google-plus a:hover {
  background: #DD4D42;
}

.youtube a {
  color: #DF2926;
}

.youtube a:hover {
  background: #DF2926;
}

.linkedin a {
  color: #007BB6;
}

.linkedin a:hover {
  background: #007BB6;
}

.pinterest a {
  color: #BD081C;
}

.pinterest a:hover {
  background: #BD081C;
}

.dribbble a {
  color: #EA4C89;
}

.dribbble a:hover {
  background: #EA4C89;
}

.behance a {
  color: #0B7CFF;
}

.behance a:hover {
  background: #0B7CFF;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #00BCD4;
}

#loader-1:before {
  z-index: 100;
  animation: spin 2s infinite;
}

#loader-1:after {
  border: 7px solid #fafafa;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ========================================================================== 
   Scroll To Up 
   ========================================================================== */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 12px;
  right: 15px;
  width: 40px;
  height: 40px;
  line-height: 45px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  background: #00BCD4;
  border: 1px solid #fff;
  z-index: 99;
}

.back-to-top i {
  color: #fff;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-brand {
  position: relative;
  padding: 12px 0px;
}

.navbar-brand img {
  width: 80%;
}

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  min-height: 58px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #333 !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  color: #00BCD4 !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #00BCD4 !important;
}

.theme-header {
  width: 100%;
}

.theme-header .navbar-header {
  float: left;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 14px;
  color: #9a9a9a;
  padding: 0 12px;
  border-radius: 4px;
  line-height: 37px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #00BCD4;
  outline: none;
}

.navbar {
  background: black;
  padding: 0;
}

.navbar li.active a.nav-link {
  color: #fed136;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 190px;
  border: none;
  background-color: #fff;
  border-top: 1px solid #00BCD4;
  white-space: nowrap;
  border-radius: 0px;
  -webkit-box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
  background: #ffffff;
}

.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 10px 20px;
  border-radius: 0px;
  font-size: 14px;
  color: #9a9a9a;
  text-decoration: none;
  display: inline-block;
  float: left;
  letter-spacing: 0.5px;
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  background: #00BCD4;
  color: #fff !important;
}

.dropdown-item.active, .dropdown-item:active {
  background: transparent;
}

.button-group .button {
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  position: relative;
  outline: none !important;
  background: #fed136;
  color: #fff;
  border: none;
  text-align: center;
  overflow: hidden;
  padding: 9px 21px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  z-index: 1;
  margin-top: 12px;
}

.button-group .button:hover {
  color: #fff !important;
  box-shadow: 0px 7px 9px rgba(96, 94, 94, 0.17);
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.navbar-toggler {
  display: none;
}

.slicknav_menu {
  display: none;
  background: #ffffff;
  padding: 0px 20px;
  text-align: left;
}

.slicknav_brand {
  float: left;
  line-height: inherit;
  padding: 7px 0;
  height: auto;
}

.slicknav_btn {
  margin: 14px 0;
  background-color: #00BCD4;
  padding: 8px 9px 7px;
}

.slicknav_nav {
  background-color: #0e0202;
  overflow: auto;
  max-height: 350px;
  padding: 20px 10px;
}

.slicknav_menu .slicknav_icon-bar {
  background: #ffffff;
}

.slicknav_nav ul {
  margin: 0;
}

.slicknav_nav a,
.slicknav_nav .slicknav_row,
.slicknav_nav a {
  padding: 10px 0;
  font-size: 14px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.slicknav_parent ul {
  padding-left: 15px;
}

.slicknav_parent ul a {
  font-size: 14px;
  text-transform: capitalize;
  border-bottom: 0;
  font-weight: 400;
}

.slicknav_nav a:hover a,
.slicknav_nav a:hover,
.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_item a:hover,
.slicknav_nav .slicknav_parent-link a:hover {
  background-color: transparent;
  color: #00BCD4;
}

.slicknav_nav .slicknav_arrow {
  float: right;
}

.slicknav_nav a h3 {
  font-size: 14px;
  display: inline;
  text-transform: capitalize;
  font-weight: 500;
}

.slicknav_menu li p {
  display: none;
}

.sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 99;
  background-color: #fff;
  -webkit-animation: slideInDown;
  animation: slideInDown;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.4);
}

@media (max-width: 991px) {
  .slicknav_menu {
    display: block;
    width: 100%;
  }
  .theme-header {
    display: none;
  }
  .mobile-menu {
    width: 100%;
  }
  .dropdown-menu {
    position: relative;
    background: transparent;
  }
  .dropdown:hover .dropdown-menu {
    position: relative;
    background: transparent;
  }
  .dropdown .dropdown-menu .dropdown-item {
    border-radius: 0px;
  }
  .dropdown-menu:before {
    display: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    line-height: 22px;
  }
  .top-nav-collapse .navbar-nav .nav-link {
    color: #9a9a9a !important;
  }
}

@media (max-width: 767px) {
  .sticky-menu {
    margin: 0;
  }
}

/* ==========================================================================
   Hero Area
   ========================================================================== */
.hero-area {
  background: url(../img/bg/bg-intro.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  color: #fff;
  position: relative;
  width: 100%;
}

.hero-area:before {
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: rgba(42, 46, 50, 0.8);
  position: absolute;
}

.hero-area .contents {
  padding: 190px 0 120px;
  text-align: center;
}

.hero-area .contents h2 {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 25px;
}

.hero-area .contents p {
  color: #fff;
  font-size: 14px;
  line-height: 26px;
}

.hero-area .contents .btn {
  margin-top: 40px;
  margin-right: 20px;
  text-transform: uppercase;
}

.hero-area .contents .btn-border {
  border: 2px solid #fff;
  color: #fff;
}

.hero-area .intro-img {
  padding: 120px 0 0px;
}

.hero-area .intro-img img {
  display: block;
  height: auto;
  max-width: 100%;
}

.job-search-form {
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 4px;
  margin-top: 35px;
}

.job-search-form .form-group {
  margin-bottom: 0;
}

.job-search-form .form-group i {
  position: absolute;
  top: 14px;
  color: #fed136;
  right: 30px;
  font-size: 18px;
}

.job-search-form .form-group .form-control {
  height: 46px;
}

.job-search-form .search-category-container .styled-select > select {
  background: transparent;
  font-size: 14px;
  line-height: 25px;
  border: 0;
  border-radius: 4px;
  height: 46px;
  border: 1px solid #ececec;
  color: #495057;
  padding: 10px 20px;
  z-index: 1;
  width: 100%;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.job-search-form .button {
  font-size: 22px;
  line-height: 14px;
  display: inline-block;
  position: relative;
  outline: none !important;
  background: #fed136;
  color: #fff;
  cursor: pointer;
  border: none;
  text-align: center;
  overflow: hidden;
  padding: 11px 12px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 4px;
  z-index: 1;
}

.job-search-form .button:hover {
  box-shadow: 0px 7px 9px rgba(96, 94, 94, 0.17);
}

.job-search-form .button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  transform: scale(0, 0);
  z-index: -1;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.job-search-form .button:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  transform: scale(1, 1);
}

.job-featured-search {
  padding: 15px 0;
  border-radius: 4px;
}

/* ==========================================================================
 About Page Style
 ========================================================================== */
.about-content h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.about-content .desc {
  font-weight: 500;
  line-height: 26px;
  margin-top: 20px;
}

.about-content p {
  margin-bottom: 20px;
}

.work-process {
  padding: 0px 30px;
  text-align: center;
}

.work-process .process-icon {
  font-size: 48px;
  color: #00BCD4;
  display: inline-block;
  margin-bottom: 10px;
}

.work-process h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

#download .download-wrapper {
  width: 100%;
  display: table;
  height: 100%;
}

#download .download-wrapper > div {
  vertical-align: middle;
  display: table-cell;
}

#download .download-wrapper .download-text h4 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}

#download .download-wrapper p {
  margin-bottom: 35px;
}

#download .download-wrapper .app-button .btn {
  border-radius: 4px;
  width: 200px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 17px;
  margin-right: 10px;
  text-transform: capitalize;
}

#download .download-wrapper .app-button .btn i {
  display: inline-block;
  font-size: 30px;
  float: left;
  line-height: 36px;
  margin-right: 10px;
}

#download .download-wrapper .app-button .btn span {
  font-size: 13px;
  font-weight: 400;
}

#download .download-wrapper .app-button .btn-common {
  border: 2px solid #00BCD4;
}

.browse-catagories .img-box {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 90;
  margin: 10px 0;
  border-radius: 4px;
}

.browse-catagories .img-box .img-box-content {
  position: absolute;
  z-index: 101;
  bottom: 0;
  padding: 30px;
  width: 100%;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
}

.browse-catagories .img-box .img-box-content h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  color: #fff;
  margin: 0;
}

.browse-catagories .img-box .img-box-content span {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.browse-catagories .img-box:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 99;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
}

.browse-catagories .img-box:hover:before {
  background-color: rgba(0, 0, 0, 0.2);
}

#apply .no-padding {
  padding: 0;
}

#apply .recruiter {
  background: #00BCD4;
  position: relative;
}

#apply .recruiter .img-thumb {
  position: absolute;
  bottom: 0;
  left: 0;
}

#apply .recruiter .img-thumb i {
  font-size: 150px;
  color: #35bc70;
}

#apply .jobseeker {
  background: #24324a;
  position: relative;
}

#apply .jobseeker .img-thumb {
  position: absolute;
  bottom: 0;
  right: 0;
}

#apply .jobseeker .img-thumb i {
  color: #324360;
  font-size: 150px;
}

#apply .item-box {
  color: #fff;
  text-align: center;
  padding: 80px;
  position: relative;
}

#apply .item-box h5 {
  font-size: 24px;
  color: #fff;
}

#apply .item-box h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}

#apply .item-box p {
  color: #fff;
  margin-bottom: 20px;
}

#apply .item-box .btn {
  text-transform: capitalize;
}

.jobs-services {
  background: #f2f7fb;
  padding: 30px 0;
}

.jobs-services .services-inner .icon {
  width: 55px;
  height: auto;
  float: left;
  position: relative;
}

.jobs-services .services-inner .icon i {
  font-size: 50px;
  color: #00BCD4;
}

.jobs-services .services-inner .detail {
  margin-left: 20px;
  display: inline-block;
  text-align: left;
}

.jobs-services .services-inner .detail h4 {
  color: #333333;
  font-size: 20px;
  font-weight: 500;
}

.jobs-services .services-inner .detail span {
  color: #9a9a9a;
  font-size: 14px;
  float: left;
}

/* Services Item */
.services-item {
  padding: 15px;
  background: #fff;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.services-item .icon {
  margin-bottom: 20px;
}

.services-item .icon i {
  font-size: 42px;
  line-height: 60px;
  background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.services-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.services-item p {
  margin: 0;
}

.feature-content {
  background: #f6fbfd;
}

.single-feature {
  background: #fff;
  margin: 15px 0;
  padding: 60px 50px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 0px 16px rgba(131, 131, 131, 0.17);
  transition: all 0.3s ease 0s;
}

.single-feature i {
  font-size: 42px;
  background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-bottom: 30px;
}

.single-feature h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}

.single-feature:hover {
  box-shadow: 0px 0px 16px rgba(131, 131, 131, 0.35);
}

/* ==========================================================================
 Features Section Start
 ========================================================================== */
#featured .job-featured {
  background: #fff;
  padding: 20px;
  margin: 15px 0;
  border-radius: 4px;
  border-left: 4px solid transparent;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#featured .job-featured .icon {
  float: left;
  position: relative;
  width: 70px;
  text-align: center;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  box-shadow: 0px 0px 7px rgba(203, 203, 203, 0.23);
}

#featured .job-featured .content {
  padding-left: 90px;
}

#featured .job-featured .content h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

#featured .job-featured .content h3 a {
  color: #333;
}

#featured .job-featured .content h3 a:hover {
  color: #00BCD4;
}

#featured .job-featured .content .brand {
  font-size: 15px;
  margin-bottom: 10px;
  color: #666666;
}

#featured .job-featured .content .tags {
  margin-bottom: 15px;
}

#featured .job-featured .content .tags span {
  margin-right: 10px;
}

#featured .job-featured .content .tags span i {
  margin-right: 5px;
  color: #00BCD4;
}

#featured .job-featured:hover {
  border-color: #00BCD4;
}

/* ==========================================================================
 Category Section Start
 ========================================================================== */
.f-category {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  padding: 30px;
  text-align: center;
  overflow: hidden;
  display: block;
  margin-right: -1px;
  border-bottom: 1px solid #e8ecec;
  border-right: 1px solid #e8ecec;
}

.f-category a {
  display: block;
}

.f-category:hover {
  background: #f9fcff;
}

.f-category .icon {
  width: 64px;
  height: 64px;
  display: inline-block;
  border-radius: 4px;
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.f-category .icon i {
  font-size: 36px;
  color: #333;
  line-height: 50px;
}

.f-category h3 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 0;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  color: #333;
}

.f-category p {
  color: #00BCD4;
}

.f-category:hover {
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.f-category:hover h3 {
  color: #00BCD4;
}

.f-category:hover .icon {
  -webkit-transform: rotateY(160deg);
  -moz-transform: rotateY(160deg);
  -ms-transform: rotateY(160deg);
  -o-transform: rotateY(160deg);
  transform: rotateY(160deg);
}

.f-category:hover .icon i {
  color: #00BCD4;
}

#browse-jobs .text-wrapper {
  width: 100%;
  display: table;
  height: 100%;
}

#browse-jobs .text-wrapper > div {
  vertical-align: middle;
  display: table-cell;
}

#browse-jobs .text-wrapper h3 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}

#browse-jobs .text-wrapper p {
  margin-bottom: 35px;
}

#latest-jobs .jobs-latest {
  background: #fff;
  margin: 15px 0;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#latest-jobs .jobs-latest .img-thumb {
  float: left;
  position: relative;
  text-align: center;
  display: inline-block;
  line-height: 160px;
  height: 190px;
  border-right: 1px solid #f1f1f1;
  padding: 7px;
  width: 30%;
}

#latest-jobs .jobs-latest .content {
  padding: 20px;
  float: left;
  width: 70%;
}

#latest-jobs .jobs-latest .content h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

#latest-jobs .jobs-latest .content h3 a {
  color: #333;
}

#latest-jobs .jobs-latest .content h3 a:hover {
  color: #00BCD4;
}

#latest-jobs .jobs-latest .content .brand {
  font-size: 15px;
  margin-bottom: 3px;
  color: #666666;
}

#latest-jobs .jobs-latest .content .tags span {
  margin-right: 10px;
  line-height: 30px;
}

#latest-jobs .jobs-latest .content .tags span i {
  margin-right: 5px;
  color: #00BCD4;
}

#latest-jobs .jobs-latest .content .tag i {
  color: #00BCD4;
}

#latest-jobs .jobs-latest .content .job-type {
  color: #00BCD4;
  font-size: 11px;
  font-weight: 500;
  display: inline-block;
  background: #d5ffe7;
  padding: 5px 15px;
  border-radius: 4px;
  text-transform: uppercase;
}

#latest-jobs .jobs-latest .content .part-time {
  background: #ffd8d2;
  color: #ff6046;
}

.job-listings-featured {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.job-listings-featured .job-company-logo {
  float: left;
  text-align: center;
  line-height: 70px;
}

.job-listings-featured .job-details {
  margin-left: 60px;
}

.job-listings-featured .job-details h3 {
  font-size: 16px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.job-listings-featured .job-details h3:hover {
  color: #00BCD4;
}

.job-listings-featured .job-details .company-neme {
  font-size: 14px;
  color: #666666;
}

.job-listings-featured .job-details .tags {
  margin-top: 10px;
}

.job-listings-featured .job-details .tags span {
  color: #9a9a9a;
  font-size: 12px;
  margin-right: 5px;
}

.job-listings-featured .job-details .tags span i {
  margin-right: 5px;
  color: #00BCD4;
}

.job-listings-featured .tag-type {
  margin-top: 28px;
}

.job-listings-featured .tag-type span {
  margin-left: 10px;
}

.job-listings-featured .full-time,
.job-listings-featured .part-time {
  padding: 5px 15px;
  font-size: 14px;
  text-transform: capitalize;
}

.job-listings-featured .heart-icon {
  color: #fff;
  line-height: 24px;
  padding: 3px 10px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin: 0px 10px;
  background: #00BCD4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.job-listings-featured .location {
  display: inline-block;
  color: #9a9a9a;
  line-height: 22px;
  margin: 15px 0;
}

.job-listings-featured .location i {
  color: #00BCD4;
}

.job-listings-featured .btn-apply {
  color: #fff;
  background: #00BCD4;
  padding: 5px 15px;
  border-radius: 4px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.job-listings-featured .btn-apply:hover {
  color: #fff;
  background: #00BCD4;
}

.job-listings-featured:hover {
  background: #f9fcff;
  border-color: #ffffff;
  box-shadow: 11px 0px 20px rgba(102, 102, 102, 0.08);
}

/* ==========================================================================
 Featured Listings Styles
 ========================================================================== */
.product-item {
  background: #ffffff;
  margin: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.product-item .icon-thumb {
  display: block;
  position: relative;
}

.product-item .product-content {
  padding: 10px 0px;
  position: relative;
}

.product-item .product-content .tags {
  margin-bottom: 15px;
}

.product-item .product-content .tags span {
  color: #00BCD4;
  font-size: 14px;
  margin-right: 5px;
}

.product-item .product-content .tags span i {
  margin-right: 5px;
}

.product-item .product-title {
  margin: 0;
  font-size: 20px;
  padding: 10px 0;
  position: relative;
}

.product-item .product-title a {
  color: #333;
  font-weight: 500;
  font-size: 18px;
}

.product-item .product-title a:hover {
  color: #00BCD4;
}

.owl-nav {
  position: relative;
  top: -180px;
  left: 0;
}

.owl-nav button.owl-prev {
  float: left;
  margin-left: -18px;
}

.owl-nav button.owl-next {
  float: right !important;
  margin-right: -18px;
}

.owl-nav button {
  width: 40px;
  height: 40px;
  display: block !important;
  background: #00BCD4 !important;
  text-align: center;
  display: inline-block;
  opacity: 1 !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.owl-nav button i {
  color: #fff;
  font-size: 16px;
  line-height: 40px;
}

.owl-nav button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.job-listings {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.job-listings .job-company-logo {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.job-listings .job-details h3 {
  font-size: 18px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.job-listings .job-details h3:hover {
  color: #00BCD4;
}

.job-listings .job-details .company-neme {
  font-size: 14px;
  color: #666666;
}

.job-listings .btn-open {
  color: #00BCD4;
  padding: 7px 21px;
  line-height: 50px;
  border-radius: 4px;
  margin: 15px 0;
  background: #d5ffe7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.job-listings .location {
  display: inline-block;
  color: #9a9a9a;
  line-height: 22px;
  margin: 15px 0;
}

.job-listings .location i {
  color: #00BCD4;
}

.job-listings .btn-full-time {
  line-height: 50px;
  font-size: 14px;
  text-transform: uppercase;
}

.job-listings .btn-apply {
  color: #00BCD4;
  text-transform: uppercase;
  line-height: 50px;
  border: 2px solid #00BCD4;
  padding: 7px 21px;
  border-radius: 4px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.job-listings .btn-apply:hover {
  color: #fff;
  background: #00BCD4;
}

.job-listings:hover {
  background: #ffffff;
  border-color: #ffffff;
  box-shadow: 11px 0px 20px rgba(102, 102, 102, 0.08);
}

/* ==========================================================================
 Team Section
   ========================================================================== */
.single-team:hover .team-details {
  opacity: 1;
}

.single-team {
  position: relative;
  margin: 15px 0;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 0px 16px rgba(131, 131, 131, 0.17);
  border-radius: 0px;
  overflow: hidden;
}

.single-team .team-thumb {
  position: relative;
}

.single-team:hover {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0px 0px 16px rgba(131, 131, 131, 0.35);
}

.single-team img {
  width: 100%;
}

.single-team .team-inner {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-team .team-details {
  padding: 20px;
  width: 100%;
  text-align: left;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.single-team .team-details .team-title {
  margin-bottom: 5px;
  font-size: 18px;
  color: #263238;
}

.single-team .team-details p {
  font-size: 14px;
  margin-bottom: 0px;
}

.single-team .social-list {
  position: absolute;
  background-image: -moz-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
  background-image: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
  background-image: -ms-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
  border-top-right-radius: 30px;
  bottom: 0;
  left: -40px;
  padding: 20px 0px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.single-team .social-list li a {
  display: block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 40px;
  color: #fff;
  font-size: 16px;
  border-radius: 0px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.single-team .social-list .facebook a:hover {
  background: #4867aa;
  color: #fff;
}

.single-team .social-list .twitter a:hover {
  background: #1da1f2;
  color: #fff;
}

.single-team .social-list .google-plus a:hover {
  background: #dd4d42;
  color: #fff;
}

.single-team .social-list .linkedin a:hover {
  background: #007bb6;
  color: #fff;
}

.single-team:hover .social-list {
  left: 0;
}

.testimonial-item {
  padding: 30px;
  margin: 15px;
  background: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.testimonial-item .author {
  display: inline-block;
  margin-bottom: 20px;
}

.testimonial-item .author .img-thumb {
  float: left;
  overflow: hidden;
  position: relative;
}

.testimonial-item .author .img-thumb img {
  border-radius: 50%;
  width: 75%;
}

.testimonial-item .content-inner {
  overflow: hidden;
}

.testimonial-item .content-inner .description {
  width: 100%;
  margin-bottom: 10px;
}

.testimonial-item .content-inner span {
  color: #a0a6ad;
}

.testimonial-item .content-inner .author-info {
  padding: 3px 0;
}

.testimonial-item .content-inner .author-info h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 0;
}

.testimonial-item .content-inner .author-info h2 a {
  color: #484848;
}

.testimonial-item .content-inner .author-info h2 a:hover {
  color: #00BCD4;
}

.owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-dots span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  filter: alpha(opacity=50);
  opacity: 1;
  border-radius: 50px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 3px rgba(66, 68, 67, 0.55);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.owl-dots span:hover {
  background: #00BCD4;
}

.owl-dots .active span {
  background: #00BCD4 !important;
}

/* ==========================================================================
  Pricing Table
  ========================================================================== */
.pricing-table {
  padding: 30px;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.pricing-table .icon {
  margin-bottom: 10px;
}

.pricing-table .icon i {
  font-size: 42px;
  color: #00BCD4;
}

.pricing-table .pricing-details h2 {
  font-size: 20px;
  color: #333333;
  font-weight: 500;
  padding: 15px 0;
  margin-bottom: 0;
}

.pricing-table .pricing-details ul li {
  color: #9a9a9a;
  padding: 7px;
  font-size: 14px;
}

.pricing-table .pricing-details ul li strong {
  color: #333333;
}

.pricing-table .price {
  color: #333333;
  font-size: 42px;
  padding: 20px;
  font-weight: 500;
}

.pricing-table .price span {
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
}

.pricing-table:hover .btn-border,
.pricing-active .btn-border {
  background: #00BCD4;
  color: #fff;
}

.pricing-table:hover .btn-border:hover::before,
.pricing-active .btn-border:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.border-color-defult {
  border-top: 4px solid #00BCD4;
}

.border-color-red {
  border-top: 4px solid #ff6046;
}

.border-color-green {
  border-top: 4px solid #426eff;
}

.head-faq {
  margin-bottom: 20px;
}

.panel-group .panel {
  margin-bottom: 24px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.panel-default {
  border-radius: 0px;
  border: none;
}

.panel-default .panel-heading {
  padding: 0px 20px;
  outline: none;
  border-radius: 4px;
  background: #00BCD4 !important;
  border: 1px solid #00BCD4;
  width: 100%;
  box-shadow: none;
}

.panel-default .panel-heading .panel-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  color: inherit;
}

.panel-default .panel-heading a {
  font-size: 14px;
  font-weight: 400;
  padding: 15px 35px 15px 0px;
  display: inline-block;
  width: 100%;
  color: #fff;
  position: relative;
  text-decoration: none;
}

.panel-default .panel-heading a:after {
  font-family: "LineIcons";
  content: "\e93a";
  position: absolute;
  right: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  top: 50%;
  line-height: 1;
  margin-top: -7px;
}

.panel-default .panel-heading .collapsed:after {
  content: "\e93e";
}

.panel-default .panel-collapse .panel-body {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #fff;
}

/* ==========================================================================
 Policy Page Style
 ========================================================================== */
.policy .post-box {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.policy .post-box .text-box {
  width: 100%;
  padding: 30px;
}

.policy .post-box .text-box h2 {
  line-height: 26px;
  font-size: 26px;
  margin: 0 0 18px 0;
}

.policy .post-box .text-box h4 {
  color: #999;
  font-size: 16px;
  margin: 15px 0px 15px;
  font-weight: 500;
}

.policy .post-box ul {
  padding: 0 0 20px 20px;
  margin: 0;
}

.policy .post-box ul li {
  padding: 0;
  display: block;
  overflow: hidden;
  color: #888;
}

.inner-box {
  padding: 30px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.full-time,
.part-time {
  font-size: 11px;
  font-weight: 500;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.full-time {
  color: #00BCD4;
  background: #d8f8fb;
}

.part-time {
  color: #ff6046;
  background: #ffd8d2;
}

.full-time:hover,
.part-time:hover,
.btn-open:hover {
  box-shadow: 0px 3px 9px rgba(96, 94, 94, 0.17);
}

/* ==========================================================================
   Browse Jobs Page Style
   ========================================================================== */
.job-browse .wrap-search-filter {
  margin-bottom: 30px;
}

.job-browse .pagination {
  margin-top: 30px;
}

.job-browse .cat-list li {
  padding: 7px 0;
  border-bottom: 1px solid #f1f1f1;
}

.job-browse .cat-list li a {
  text-decoration: none;
  color: #999;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.job-list {
  border: 1px solid #f1f1f1;
  padding: 15px;
  display: inline-block;
  margin-bottom: 15px;
}

.job-list .thumb {
  float: left;
}

.job-list .thumb img {
  border-radius: 4px;
}

.job-list .job-list-content {
  display: block;
  margin-left: 125px;
  position: relative;
}

.job-list .job-list-content h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.job-list .job-list-content p {
  margin-bottom: 20px;
}

.job-list .job-tag {
  border-top: 1px solid #f1f1f1;
  padding: 15px 0;
  line-height: 35px;
}

.job-list .job-tag .meta-tag span {
  font-size: 14px;
  color: #999;
  margin-right: 10px;
}

.job-list .job-tag .meta-tag span a {
  color: #999;
}

.job-list .job-tag .meta-tag span a:hover {
  color: #00BCD4;
}

.job-list .job-tag .meta-tag span i {
  margin-right: 5px;
}

.job-list .job-tag .icon {
  float: left;
  border: 1px solid #f1f1f1;
  width: 40px;
  height: 40px;
  line-height: 42px;
  border-radius: 4px;
  text-align: center;
  margin-right: 18px;
  background: #f1f1f1;
  color: #ff4f57;
  font-size: 16px;
}

/* ==========================================================================
   Job Alerts Pages Style
   ========================================================================== */
.right-sideabr {
  margin-bottom: 30px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.right-sideabr h4 {
  font-size: 18px;
  color: #333;
  padding: 15px 20px;
  font-weight: 500;
  background: #f2f7fb;
  margin-bottom: 0;
}

.right-sideabr .list-item li {
  padding: 15px 20px;
  border-bottom: 1px solid #f7f7f7;
}

.right-sideabr .list-item li a {
  font-size: 14px;
  font-weight: 400;
  color: #9a9a9a;
}

.right-sideabr .list-item li a:hover {
  color: #00BCD4;
}

.right-sideabr .list-item li a.active {
  color: #00BCD4;
}

.right-sideabr .list-item .notinumber {
  float: right;
  width: 20px;
  height: 20px;
  background: #00BCD4;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}

.job-alerts-item {
  padding: 30px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.job-alerts-item .alerts-list {
  padding: 15px 0;
  border-bottom: 1px solid #f1f1f1;
  text-transform: uppercase;
}

.job-alerts-item .alerts-title {
  font-size: 26px;
  margin-bottom: 30px;
}

.job-alerts-item .alerts-content {
  padding: 30px 0;
  border-bottom: 1px solid #f1f1f1;
}

.job-alerts-item .alerts-content h3 {
  font-size: 16px;
}

.job-alerts-item .alerts-content .location {
  color: #9a9a9a;
}

.job-alerts-item .alerts-content p {
  color: #9a9a9a;
  margin-top: 15px;
  line-height: 20px;
}

.job-alerts-item .alerts-content p i {
  line-height: 26px;
}

.job-alerts-item .job-list {
  border: none;
  padding: 15px 0;
}

/* ==========================================================================
   My Resume Page Style
   ========================================================================== */
.my-resume .item {
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
}

.my-resume .item h3 {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.my-resume .item h3 i {
  margin-right: 5px;
  color: #9a9a9a;
}

.my-resume .item h4 {
  font-size: 15px;
  padding: 10px 0;
  margin-bottom: 0;
  font-weight: 500;
}

.my-resume .item h5 {
  font-size: 13px;
  color: #9a9a9a;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.my-resume .item .date {
  margin-top: 10px;
  font-size: 14px;
  color: #9a9a9a;
}

.my-resume .item p {
  color: #9a9a9a;
}

.my-resume .item br {
  margin-bottom: 20px;
}

.my-resume .item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.my-resume .author-resume {
  display: inline-block;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 30px;
  width: 100%;
}

.my-resume .author-resume .thumb {
  float: left;
  width: 125px;
  height: 125px;
  overflow: hidden;
}

.my-resume .author-resume .thumb img {
  border-radius: 4px;
  width: 100%;
}

.my-resume .author-resume .author-info {
  margin-left: 150px;
}

.my-resume .author-resume .author-info h3 {
  font-size: 15px;
  text-transform: uppercase;
}

.my-resume .author-resume .author-info p {
  line-height: 30px;
}

.my-resume .author-resume .author-info .social-link {
  margin-top: 5px;
}

.my-resume .skill {
  margin-top: 30px;
}

.my-resume .skill h3 {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.my-resume .skill h3 i {
  margin-right: 5px;
  color: #9a9a9a;
}

/* Add Resume Page */
.add-resume h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-resume .control-label {
  margin-bottom: 5px;
}

.post-header {
  padding: 10px 15px;
  background: #f1f1f1;
  margin-bottom: 20px;
}

.post-header a {
  color: #00BCD4;
}

.add-post-btn {
  width: 100%;
  display: inline-block;
  padding: 5px 0px 25px 0px;
}

.add-post-btn .btn-added {
  font-size: 12px;
  border-radius: 4px;
  font-weight: 700;
  background: #ddd;
  padding: 5px 15px;
}

.add-post-btn .btn-delete {
  color: red;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 700;
  background: #ddd;
  padding: 5px 15px;
}

.social-link {
  margin-top: 5px;
}

.social-link a {
  color: #666;
  text-align: center;
  width: 32px;
  border: 1px solid #666;
  line-height: 32px;
  border-radius: 4px;
  display: inline-block;
  height: 32px;
}

/* ==========================================================================
   Manager Resumes Pages Style
   ========================================================================== */
.manager-resumes-item {
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
  margin: 15px 0;
}

.manager-resumes-item .item-body .content {
  padding: 15px 30px;
}

.manager-resumes-item .item-body .resume-skills {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding: 15px 30px;
  border-top: 1px solid #f1f1f1;
}

.manager-resumes-item .item-body .tag-list span {
  background-color: #f1f1f1;
  color: #9a9a9a;
  padding: 4px 8px;
  margin-right: 8px;
  font-size: 12px;
  border-radius: 4px;
  line-height: 20px;
  white-space: nowrap;
  display: inline-block;
}

.manager-resumes-item .manager-content {
  padding: 20px 30px;
  background: #f2f7fb;
  display: inline-block;
  width: 100%;
}

.manager-resumes-item .manager-content .resume-thumb {
  max-width: 64px;
  width: auto;
  margin-right: 30px;
  border-radius: 4px;
  float: left;
}

.manager-resumes-item .manager-content .manager-info .manager-name {
  float: left;
}

.manager-resumes-item .manager-content .manager-info .manager-name h4 {
  font-size: 18px;
  line-height: 30px;
}

.manager-resumes-item .manager-content .manager-info .manager-name h5 {
  font-size: 15px;
  margin-top: 5px;
  font-weight: 400;
  color: #9a9a9a;
}

.manager-resumes-item .manager-content .manager-info .manager-meta {
  float: right;
  text-align: right;
}

.manager-resumes-item .manager-content .manager-info .manager-meta span {
  display: block;
  color: #9a9a9a;
  font-size: 15px;
  line-height: 30px;
}

.manager-resumes-item .update-date {
  padding: 5px 30px;
  display: inline-block;
  width: 100%;
}

.manager-resumes-item .update-date .status {
  float: left;
}

.manager-resumes-item .update-date .action-btn {
  float: right;
}

.manager-resumes-item .btn-xs {
  padding: 4px 17px;
  font-size: 12px;
}

.manager-resumes-item .btn-gray {
  color: #818a91;
}

.manager-resumes-item .btn-gray:hover {
  color: #00BCD4;
}

.manager-resumes-item .btn-danger {
  background-color: #ef4d42 !important;
}

/* ==========================================================================
   Notifications Page Style
   ========================================================================== */
.notification .pagination {
  margin-top: 30px;
}

.notification-item {
  display: inline-block;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  width: 100%;
}

.notification-item .thums {
  float: left;
}

.notification-item .thums img {
  border-radius: 4px;
  width: 80px;
}

.notification-item .text-left {
  margin-left: 98px;
  padding: 15px 0;
}

.notification-item .text-left p {
  font-size: 15px;
}

.notification-item .text-left .time {
  color: #999;
}

.notification-item .text-left .time i {
  margin-right: 5px;
  vertical-align: middle;
}

/* ==========================================================================
   Applications Page Style
   ========================================================================== */
.applications-content {
  padding: 30px 0;
  border-bottom: 1px solid #f1f1f1;
}

.applications-content .thums {
  float: left;
  margin-right: 8px;
}

.applications-content .thums img {
  width: 70px;
}

.applications-content h3 {
  font-size: 14px;
  margin-top: 10px;
}

.applications-content p {
  color: #999;
  margin-top: 15px;
  line-height: 20px;
}

.bookmarked .job-listings .job-details h3 {
  font-size: 16px;
}

.bookmarked .job-details {
  margin-left: 76px;
}

/* ==========================================================================
   Manage Jobs Page Style
   ========================================================================== */
.candidates .can-img img {
  width: 48px;
  margin: 5px 15px;
}

/* ==========================================================================
Categories All Page Style
========================================================================== */
.all-categories .categories-title {
  font-size: 30px;
  padding: 0px 0px 30px;
  font-weight: 700;
}

.all-categories .cat-title {
  font-size: 14px;
  text-transform: uppercase;
  background: #f4f9fc;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.all-categories .cat-title span {
  color: #9a9a9a;
  font-size: 12px;
}

.all-categories ul {
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
  padding: 15px;
  margin-bottom: 20px;
}

.all-categories ul li {
  padding: 4px 0px;
  font-size: 14px;
  line-height: 26px;
}

.all-categories ul li a {
  color: #9a9a9a;
}

.all-categories ul li a:hover {
  color: #00BCD4;
}

.custom-file-label:focus {
  box-shadow: none;
}

.custom-file-label::after {
  padding: 7px 25px;
  color: #fff;
  background-color: #00BCD4;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.job-detail .content-area {
  padding: 15px 20px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.job-detail .content-area h4 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.job-detail .content-area p {
  margin-bottom: 15px;
}

.job-detail .content-area h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0;
}

.job-detail .content-area ul li {
  margin-bottom: 10px;
}

.small-title {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 500;
}

.sideber {
  padding: 15px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.sideber .widghet {
  margin-bottom: 30px;
}

.sideber .widghet h3 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #333333;
  font-weight: 500;
}

.sideber .maps .map-full {
  width: 100%;
  height: 250px;
}

.sideber .maps .map-full iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.sideber .share-job #subscribe-form .form-group .form-control {
  border: 1px solid #eaeaea;
}

.sideber .share-job .meta-tag {
  margin-top: 20px;
}

.sideber .share-job .meta-tag .meta-part {
  display: inline-block;
  margin-right: 5px;
}

.sideber .share-job .meta-tag .meta-part a {
  font-size: 16px;
  color: #9a9a9a;
}

.sideber .share-job .meta-tag .meta-part a i {
  margin-right: 5px;
}

.sideber .share-job .meta-tag .meta-part a:hover {
  color: #00BCD4;
}

.sideber .subscribe-form {
  margin-top: 15px;
}

.sideber .subscribe-form .form-group {
  position: relative;
}

.sideber .subscribe-form .form-group .form-control {
  border-radius: 4px;
  background: transparent;
  color: #fff;
  padding: 8px 15px;
}

.sideber .subscribe-form .form-group .form-control:focus {
  border-color: #00BCD4;
}

.sideber .subscribe-form .form-group .btn-common {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 15px;
  height: 39px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: transparent;
  background: #00BCD4;
}

.sideber .subscribe-form .form-group .btn-common:before {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.post-job .job-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}

.post-job p {
  margin-bottom: 10px;
}

.post-job .control-label {
  margin-bottom: 10px;
}

.post-job .styled-select {
  width: 100%;
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #9a9a9a;
  padding: 0 15px;
  display: block;
}

.upload-button {
  position: relative;
  margin-bottom: 40px;
}

.upload-button input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  cursor: pointer;
}

.upload-button .btn-sm {
  padding: 5px 20px;
  font-size: 13px;
}

.input-group-addon {
  padding: 0 !important;
}

.styled-select {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 4px;
}

.styled-select > select {
  background: transparent;
  font-size: 14px;
  line-height: 18px;
  border: 0;
  border-radius: 0;
  height: 44px;
  width: 100%;
}

.search-category select {
  padding: 12px;
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

select:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.btn-default {
  padding: 17px 14px;
  border-radius: 0px;
  color: #2d2d2d !important;
  background: #fff;
  text-transform: none;
}

.btn-default:hover {
  background-color: #fff;
  border-color: #fff;
}

label {
  margin: 0;
}

.divider {
  padding: 20px 0px 15px;
}

#editor {
  margin-bottom: 30px;
}

#editor .note-editor.note-frame {
  border-color: #f1f1f1;
  border-radius: 4px;
}

#editor .panel-heading {
  padding: 0px 0px 7px 10px;
}

#editor .btn-default {
  padding: 5px 20px;
}

#editor .panel-default .panel-heading {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#editor .panel-default .panel-heading a {
  color: #333;
}

#editor .panel-default .panel-heading a:hover {
  color: #fff;
}

.popover {
  display: none;
}

/* ==========================================================================
  Slider
   ========================================================================== */
#carousel-area {
  overflow: hidden;
  position: relative;
  background: #f2f7fb;
}

#carousel-area .carousel-item .carousel-caption {
  top: 32%;
  right: 12%;
  left: 12%;
  text-shadow: none;
  padding-top: 0;
  padding-bottom: 0;
}

#carousel-area .carousel-item .carousel-caption h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 25px;
  color: #333;
}

#carousel-area .carousel-item .carousel-caption p {
  color: #333;
  font-size: 14px;
  margin-bottom: 30px;
}

#carousel-area .carousel-item .carousel-caption .btn {
  margin: 0px 10px 0px 0px;
}

#carousel-area .carousel-item .img-wrapper {
  margin-top: -60px;
}

#carousel-area .carousel-control {
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#carousel-area:hover .carousel-control {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

#carousel-area .carousel-control-next, #carousel-area .carousel-control-prev {
  opacity: 1;
}

#carousel-area .carousel-control-next i, #carousel-area .carousel-control-prev i {
  width: 48px;
  line-height: 48px;
  height: 48px;
  color: #00BCD4;
  border: 2px solid #00BCD4;
  font-size: 24px;
  display: inline-block;
  background: transparent;
  border-radius: 4px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#carousel-area .carousel-control-next i:hover, #carousel-area .carousel-control-prev i:hover {
  background: #00BCD4;
  color: #fff;
}

#carousel-area .carousel-agency .carousel-caption h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 25px;
  color: #fff;
}

#carousel-area .carousel-agency .carousel-caption p {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 30px;
}

#carousel-area .carousel-agency .carousel-caption .btn {
  margin: 0px 10px 0px 0px;
}

#carousel-area .carousel-agency .carousel-caption .btn-border {
  border-color: #fff;
  color: #fff;
}

#carousel-area .carousel-control-prev {
  left: 5%;
}

#carousel-area .carousel-control-next {
  right: 5%;
}

#carousel-area .carousel-indicators li:hover,
#carousel-area .carousel-indicators li.active {
  background: #00BCD4;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 10;
  width: 35px;
  height: 55px;
  top: 50%;
  padding: 10px 5px;
  box-shadow: none;
  background-image: none;
  margin-top: -35px;
  text-shadow: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#carousel-area .carousel-indicators {
  bottom: 35px;
}

#carousel-area .carousel-indicators li {
  width: 26px;
  height: 8px;
  background: #d5d5d5;
  border-radius: 4px;
}

.contents p {
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
}

.contents .header-button .btn i {
  margin-left: 10px;
}

.left, .right {
  cursor: pointer;
  font-size: 30px;
  color: #00BCD4;
}

/* ==========================================================================
   Blog 
   ========================================================================== */
#blog .blog-item-wrapper {
  background: #fff;
}

#blog .blog-item-wrapper .blog-item-img {
  position: relative;
}

#blog .blog-item-wrapper .blog-item-img img {
  width: 100%;
}

#blog .blog-item-wrapper .blog-item-text {
  padding: 15px 0;
}

#blog .blog-item-wrapper .blog-item-text h3 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}

#blog .blog-item-wrapper .blog-item-text h3 a {
  color: #333333;
}

#blog .blog-item-wrapper .blog-item-text h3 a:hover {
  color: #00BCD4;
}

#blog .blog-item-wrapper .readmore {
  margin-top: 15px;
}

#blog .blog-item-wrapper .readmore i {
  vertical-align: middle;
}

#content {
  padding: 60px 0;
}

.post-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.post-title a {
  color: #444;
}

.blog-post {
  margin-bottom: 40px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
  overflow: hidden;
}

.blog-post .post-thumb {
  position: relative;
}

.blog-post .post-thumb .hover-wrap {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  text-align: center;
  height: 100%;
  background: rgba(230, 230, 230, 0.3);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.blog-post .post-thumb:hover .hover-wrap {
  opacity: 1;
}

.blog-post .post-thumb:hover .link {
  margin-top: 0px;
}

.blog-post .blog-author {
  float: left;
  height: 68px;
  margin-top: 32px;
  text-align: center;
  width: 68px;
}

.blog-post .blog-author img {
  border-radius: 4px;
}

.blog-post .post-content {
  width: 100%;
  padding: 30px;
}

.blog-post .post-content .meta {
  font-size: 13px;
  margin-bottom: 17px;
  padding-bottom: 11px;
  border-bottom: 1px solid #eee;
}

.blog-post .post-content .meta .meta-part {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 25px;
}

.blog-post .post-content .meta .meta-part a {
  color: #999;
}

.blog-post .post-content .meta .meta-part a:hover {
  color: #00BCD4;
}

.blog-post .post-content .meta .meta-part i {
  margin-right: 5px;
}

.blog-post .post-content p {
  margin-bottom: 30px;
}

.pagination {
  margin: 0;
  width: 100%;
  text-align: center;
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  border-radius: 4px !important;
  padding: 5px 10px;
  margin: 0 3px;
  min-width: 40px;
  height: 40px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  background: #00BCD4;
  display: block;
  color: #fff;
}

.pagination li a:hover {
  box-shadow: 0px 7px 9px rgba(96, 94, 94, 0.17);
}

.pagination li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.pagination li a:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.pagination .btn-prev, .pagination .btn-next {
  padding: 5px 20px !important;
}

.widget-title {
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  padding: 20px 30px;
  text-transform: uppercase;
  position: relative;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0;
}

.search {
  width: 100%;
  margin-bottom: 0px !important;
  position: relative;
}

.search-btn {
  position: absolute;
  top: 92px;
  right: 60px;
  border: none;
  background: transparent;
  font-size: 18px;
}

.search-btn i {
  color: #666;
}

#sidebar .widget {
  margin-bottom: 30px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

#sidebar .widget-box {
  padding: 20px 30px;
}

#sidebar .cat-list li {
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
}

#sidebar .cat-list li a {
  text-decoration: none;
  color: #9a9a9a;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

#sidebar .cat-list li a:hover {
  color: #00BCD4;
}

#sidebar .cat-list li .num-posts {
  font-size: 12px;
}

#sidebar .cat-list li:last-child {
  border: none;
}

#sidebar .posts-list li {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #f1f1f1;
}

#sidebar .posts-list li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

#sidebar .posts-list .widget-content a {
  font-weight: 400;
  color: #666;
  font-size: 15px;
}

#sidebar .posts-list .widget-content a:hover {
  color: #00BCD4;
}

#sidebar .posts-list .widget-content span {
  color: #9a9a9a;
  font-size: 12px;
  display: block;
  margin: 3px 0;
}

#sidebar .posts-list .widget-content span i {
  padding-right: 5px;
}

#sidebar .tag a {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  padding: 7px 14px;
  background: #00BCD4;
  margin: 4px 2px;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

#sidebar .tag a:hover {
  color: #fff;
}

.single-post p {
  margin-bottom: 20px !important;
}

blockquote {
  border-left: none;
  padding: 30px;
  background: #00BCD4;
}

blockquote .quote-text {
  font-size: 20px;
  font-weight: 400;
  color: #FFF;
  line-height: 34px;
}

blockquote p {
  margin-top: 10px;
  margin-bottom: 0px !important;
}

blockquote p a {
  color: #fff;
}

blockquote p a:hover {
  color: #fff;
}

#comments h3 {
  font-size: 20px;
  font-weight: 400;
}

#comments .comments-list {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
}

#comments .comments-list .media {
  padding: 30px 0;
}

#comments .comments-list .media .thumb-left {
  float: left;
}

#comments .comments-list .media .thumb-left img {
  width: 100%;
  border-radius: 4px;
}

#comments .comments-list .media .info-body {
  margin-left: 40px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
  padding: 20px;
}

#comments .comments-list .media .info-body .name {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  margin-right: 10px;
}

#comments .comments-list .media .info-body .comment-date {
  font-weight: 600;
  color: #999;
  margin-right: 5px;
  font-size: 12px;
}

#comments .comments-list li ul {
  padding-left: 85px;
}

.reply-link {
  color: #00BCD4;
  border-radius: 0px;
  font-size: 14px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.respond-title {
  font-size: 20px;
  font-weight: 400;
  padding: 0px 0px 30px;
}

.share-social span {
  float: left;
  margin-right: 10px;
  font-size: 14px;
  color: #999;
  line-height: 31px;
  font-weight: 700;
}

.social-link a {
  color: #CACACA;
  text-align: center;
  width: 32px;
  border: 1px solid #CACACA;
  line-height: 32px;
  border-radius: 4px;
  display: inline-block;
  height: 32px;
  margin-right: 4px;
}

.social-link .facebook:hover {
  color: #3b5998;
  border-color: #3b5998;
}

.social-link .twitter:hover {
  color: #55acee;
  border-color: #55acee;
}

.social-link .google:hover {
  color: #dd4b39;
  border-color: #dd4b39;
}

.social-link .linkedin:hover {
  color: #007bb5;
  border-color: #007bb5;
}

/* ==========================================================================
   Contact Us
  ========================================================================== */
.form-control {
  width: 100%;
  padding: 9px 15px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ececec;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.form-control:focus {
  border: 1px solid #00BCD4;
  outline: none;
  box-shadow: none;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

textarea {
  border-radius: 4px !important;
  text-align: left !important;
}

.contact-form-area {
  background: #fff;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
  padding: 30px 15px;
}

.contact-form-area h2 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

#contactForm {
  margin-top: 30px;
}

#contactForm .form-group {
  margin-bottom: 30px;
}

.contact-info {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  margin-top: 30px;
}

.contact-info .single-contact {
  margin: 15px 30px;
  padding: 10px 0px 10px 60px;
  position: relative;
  color: #9a9a9a;
}

.contact-info .single-contact p a {
  color: #9a9a9a;
}

.contact-info .contact-icon {
  background: #00BCD4;
  color: #fff;
  border-radius: 4px;
  font-size: 20px;
  height: 40px;
  left: 0;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
}

.contact-info .contact-icon i {
  font-size: 20px;
}

#conatiner-map {
  margin-top: 30px;
  text-align: center;
  background-color: #fff;
  height: 370px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 101;
  width: 100%;
}

#conatiner-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.box {
  padding: 30px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.page-login-form h3 {
  font-size: 18px;
  color: #333;
  line-height: 18px;
  padding: 15px 0 30px;
  text-transform: uppercase;
  text-align: center;
}

.page-login-form .login-form .form-control {
  padding-left: 62px;
  position: relative;
}

.page-login-form .log-btn {
  width: 100%;
  padding: 12px 22px;
  margin: 0px 0px 20px;
  letter-spacing: 1;
  text-transform: capitalize;
  font-size: 16px;
}

.page-login-form .form-links {
  width: 100%;
  height: 25px;
}

.page-login-form .form-links li a {
  color: #9a9a9a;
}

.page-login-form .form-links li a:hover {
  color: #00BCD4;
}

.input-icon {
  position: relative;
}

.input-icon i {
  color: #00BCD4;
  padding-right: 10px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  border-right: 1px solid #ececec;
  border-radius: 4px 0px 0px 4px;
  top: 1px;
  left: 1px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 48px;
  line-height: 45px;
  height: 45px;
  z-index: 99;
}

.box .checkbox label, .box .radio label {
  padding-left: 34px;
}

/* ==========================================================================
  Subscribe Style
  ========================================================================== */
.subscribe-form {
  width: 100%;
  display: table;
  height: 100%;
}

.subscribe-form > div {
  vertical-align: middle;
  display: table-cell;
}

.subscribe-form .sub-title {
  margin-bottom: 30px;
}

.subscribe-form .sub-title h3 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
  font-weight: 500;
}

.subscribe-form .sub-title p {
  font-size: 14px;
}

.subscribe-form .form-wrapper .form-group {
  margin-bottom: 0px;
}

.subscribe-form .form-wrapper .form-control {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 14px;
  padding: 21px;
  box-shadow: none;
  margin-bottom: 0;
  color: #fff;
  font-weight: 400;
  background: transparent;
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  background-image: none;
  background-clip: padding-box;
}

.subscribe-form .form-wrapper .form-control:focus {
  color: #333;
  border-color: #00BCD4;
  box-shadow: none;
  outline: 0;
}

.subscribe-form .form-wrapper .btn-search {
  top: 6px;
  right: 22px;
  z-index: 2;
  width: 156px;
  font-weight: 400;
  background: #00BCD4;
  color: #fff;
  height: 52px;
  text-align: center;
  position: absolute;
  padding: 0px;
}

.subscribe-form .form-wrapper input::placeholder {
  color: #666;
  font-weight: 400;
}

.subscribe-form .form-submit .btn {
  width: 100%;
  padding: 13px 30px;
}

#subscribe .sub-item-box {
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #fff;
}

#subscribe .sub-item-box .icon-box {
  float: left;
}

#subscribe .sub-item-box .icon-box i {
  font-size: 30px;
  color: #00BCD4;
}

#subscribe .sub-item-box .text-box {
  margin-left: 60px;
}

#subscribe .sub-item-box .text-box h4 {
  font-size: 16px;
  font-weight: 500;
}

#subscribe .sub-item-box .text-box p {
  margin-bottom: 0;
}

#subscribe .sub-item-box:last-child {
  margin-bottom: 0;
}

.contact-social li {
  display: inline-block;
  margin-right: 12px;
  line-height: 40px;
}

.contact-social li a {
  color: #191c1e;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.contact-social li .facebook:hover {
  color: #3b5998;
}

.contact-social li .twitter:hover {
  color: #55acee;
}

.contact-social li .linkedin:hover {
  color: #007bb5;
}

.contact-social li .google-plus:hover {
  color: #dd4b39;
}

input[type="checkbox"] {
  background: #3d404e;
  border: #7f83a2 1px solid;
}

.form-check input[type=checkbox].form-check-input {
  background: #00BCD4;
}

/* ==========================================================================
   Footer Style
   ========================================================================== */
.block-title {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
  position: relative;
}

footer .footer-Content {
  background-color: #24324a;
  padding: 60px 0;
  color: #8a99b3;
}

footer .footer-Content p {
  color: #8a99b3;
}

.footer-logo {
  margin-bottom: 0;
}

.textwidget {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.textwidget p {
  color: #8a99b3;
  font-size: 14px;
}

footer .menu {
  padding-left: 0;
  float: left;
  width: 50%;
}

footer .menu li {
  list-style: none;
  padding-bottom: 15px;
}

footer .menu li a {
  color: #8a99b3;
  font-size: 14px;
}

footer .menu li a:hover {
  color: #00BCD4;
}

footer .menu li .small-title {
  color: #fff;
  font-weight: 500;
}

.contact-footer {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.contact-footer li {
  padding-bottom: 20px;
}

.contact-footer li strong {
  float: left;
}

.contact-footer li strong i {
  font-size: 15px;
}

.contact-footer li span {
  margin-left: 40px;
  display: block;
}

.contact-footer li span a {
  color: #BFBFBF;
}

.contact-footer li span a:hover {
  color: #00BCD4;
}

.contact-list li {
  padding: 5px 0;
  margin-bottom: 12px;
  color: #8a99b3;
}

.contact-list li i {
  width: 34px;
  height: 34px;
  line-height: 30px;
  float: left;
  color: #fff;
  text-align: center;
  font-size: 22px;
  top: 4px;
  margin-right: 10px;
}

#subscribe-form {
  margin-top: 15px;
}

#subscribe-form .form-group {
  position: relative;
}

#subscribe-form .form-group .form-control {
  border-radius: 4px;
  background: transparent;
  color: #fff;
  border: 1px solid #536688;
  padding: 8px 15px;
}

#subscribe-form .form-group .form-control:focus {
  border-color: #00BCD4;
}

#subscribe-form .form-group .btn-common {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 15px;
  height: 39px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: transparent;
  background: #00BCD4;
}

#subscribe-form .form-group .btn-common:before {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.footer-social {
  margin-top: 20px;
}

.footer-social li {
  display: inline-block;
  margin-right: 12px;
}

.footer-social li a {
  background-color: #00BCD4;
  border-radius: 4px;
  color: #fff;
  height: 32px;
  line-height: 35px;
  text-align: center;
  width: 32px;
  display: inline-block;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.footer-social li .facebook {
  background-color: #3b5998;
}

.footer-social li .twitter {
  background-color: #55acee;
}

.footer-social li .linkedin {
  background-color: #007bb5;
}

.footer-social li .google-plus {
  background-color: #dd4b39;
}

#copyright {
  background-color: #00BCD4;
  padding: 20px 0 10px;
  color: #fff;
}

#copyright p {
  line-height: 34px;
  color: #fff;
}

#copyright p a {
  color: #fff;
}

#copyright p a:hover {
  text-decoration: underline;
}

.social-icon .facebook:hover {
  background-color: #3b5998;
}

.social-icon .twitter:hover {
  background-color: #55acee;
}

.social-icon .dribble:hover {
  background-color: #D34836;
}

.social-icon .flickr:hover {
  background-color: #ff0084;
}

.social-icon .youtube:hover {
  background-color: #CC181E;
}

.social-icon .google-plus:hover {
  background-color: #dd4b39;
}

.social-icon .linkedin:hover {
  background-color: #007bb5;
}

/* ==========================================================================
 Counter Section Style
 ========================================================================== */
#counter .counter-box {
  padding: 30px 0;
}

#counter .counter-box .icon {
  margin-bottom: 30px;
  margin-right: 30px;
  float: left;
}

#counter .counter-box .icon i {
  font-size: 48px;
  color: #00BCD4;
}

#counter .counter-box h3 {
  color: #333;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 0;
}

#counter .counter-box p {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}
